extends layout

block includes
  script(type='text/javascript' src='/javascripts/jquery-3.5.0.min.js')
  script(type='text/javascript' src='/javascripts/game.js')

block content
  h1
    img(class="gohome" src="/images/home.png" onclick="window.location = '/';")
    span Welcome to #{game.name} 
    div(id="gamestatusmessage") 
  input(type="text" class="hidden" id="gameid" value=game._id)
  div(id="board")
